{% extends 'layout.html'%}

{% block content %}
        

<div class="container2">
    <div class="row">
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="text"> <i class="fa fa-image fa-5x fa-icon-image"></i>
                    <p class="item-title">
                        <h3> Plan</h3>
                    </p><!-- /.item-title -->
                    <p class="text-light"> This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides, </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="text"> <i class="fa fa-lightbulb fa-5x fa-icon-image"></i>
                    <p class="item-title">
                        <h3> Design</h3>
                    </p><!-- /.item-title -->
                    <p class="text-light"> This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides, </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 Services-tab item">
            <div class="folded-corner service_tab_1">
                <div class="text"> <i class="fa fa-user fa-5x fa-icon-image"></i>
                    <p class="item-title">
                        <h3> Market</h3>
                    </p>
                    <p class="text-light"> This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides, </p>
                </div>
            </div>
        </div>
    </div>
</div>

{%  endblock %}