{% extends 'layout.html'%}


{%block content%}

<section id="contacta" data-stellar-background-ratio="0.5">
    <div class="container">
              

              <div class="col-md-offset-1 col-md-10 col-sm-12">

                   <form id="contact-form2" role="form" action="">
                        
                        <div class="section-title1">
                             <h1>Formula Ahorro</h1>
                        </div>


                        <div class="col-md-4 col-sm-4">     
                             <h5>Volumen de compras</h5>
                             <input id="input1" type="text" class="form-control2"  placeholder="Volumen de compras"
                                  name="name" required="">
                        </div>
                        <div class="col-md-4 col-sm-4">
                         <h5>Ahorro 5% (mensual)</h5>
                             <input id="input2" type="text" class="form-control2" placeholder="Ahorro 5% (mensual)" name="Ahorro"
                            >
                        </div>
                        <div class="col-md-4 col-sm-4">
                         <h5>Ahorro (Anual)</h5>
                            <input id="input3" type="text" class="form-control2" placeholder="Ahorro (Anual)" name="Anual"
                             >
                       </div>
                   </form>

              </div>


              <div class="col-md-offset-1 col-md-10 col-sm-12">

               <form id="contact-form2" role="form" action="">
                    
                    <div class="section-title1">
                         <h1>Formula precio Bionexo</h1>
                    </div>


                    <div class="col-md-4 col-sm-4">     
                         <h5>Volumen de compras</h5>
                         <input id="input4" type="text" class="form-control2"  placeholder="Volumen de compras"
                              >
                    </div>
                    <div class="col-md-4 col-sm-4">
                     <h5>Ahorro 5% (mensual)</h5>
                         <input id="input5" type="text" class="form-control2" placeholder="Ahorro 5% (mensual)" name="Ahorro"
                        >
                    </div>
                    <div class="col-md-4 col-sm-4">
                     <h5>Precio</h5>
                        <input id="input6" type="text" class="form-control2" placeholder="Precio" name="Precio"
                         >
                   </div>
               </form>

          </div>


           <div class="col-md-offset-1 col-md-10 col-sm-12">

               <form id="contact-form2" role="form" action="">
                    
                    <div class="section-title1">
                         <h1>¿Qué porcentaje de Bionexo acomparado a las compras?</h1>
                    </div>


                    <div class="col-md-4 col-sm-4">     
                         <h5>Volumen de compras</h5>
                         <input id="input7" type="text" class="form-control2"  placeholder="Volumen de compras"
                              name="name" required="">
                    </div>
                    <div class="col-md-4 col-sm-4">
                     <h5>Precio</h5>
                         <input id="input8" type="text" class="form-control2" placeholder="Ahorro 5% (mensual)" name="Ahorro"
                        >
                    </div>
                    <div class="col-md-4 col-sm-4">
                     <h5>Agumento de venta</h5>
                        <input id="input9" type="text" class="form-control2" placeholder="Ahorro (Anual)" name="Anual"
                         >
                   </div>
                   <div class="col-md-4 col-sm-4">
                    <input type="button" id="start" class="form-control" name="Resultado"
                         value="Resultado">
               </div>
               <div class="col-md-4 col-sm-4">
                <input type="button" id="clean" class="form-control" name="Resultado"
                     value="limpiar">
           </div>
               </form>

          </div>
    </div>
</section>



{%endblock%}