{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>MyPortafolio</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">


    <link rel="stylesheet" href="{% static 'css/tooplate-style.css'%}">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--Archivo en donde está la función que vamos a invocar-->


    <script>
        $(document).on("click", "#invocar", Invocar);
        function Invocar() {

            Invocando();          //aquí estamos activando la función del otro archivo

        }
    </script>

    <script src="{% static 'js/validarcorreo.js'%}"></script>

</head>

<body>

    {% block content %}
    {% endblock %}

</body>


<script>
    var m1 = document.getElementById("input1");
    var boton_de_calcular = document.getElementById("start");
    boton_de_calcular.addEventListener("click", res);

    function res() {


        m2 = (m1.value * 5) / 100;
        multi = m2 * 12;
        m7 = (m2 * 10) / 100;
        m9 = (m7 * 10) / m1.value;
        document.getElementById("input2").value = m2;
        document.getElementById("input3").value = multi;

        m4 = new Intl.NumberFormat().format(m1.value)
        document.getElementById("input1").value = '$' + m4;
        m5 = new Intl.NumberFormat().format(m2)
        document.getElementById("input2").value = '$' + m5;
        m6 = new Intl.NumberFormat().format(multi)
        document.getElementById("input3").value = '$' + m6;
        document.getElementById("input4").value = '$' + m4;
        document.getElementById("input5").value = '$' + m5;
        m8 = new Intl.NumberFormat().format(m7)
        document.getElementById("input6").value = '$' + m8;
        document.getElementById("input7").value = '$' + m4;
        document.getElementById("input8").value = '$' + m8;
        m10 = new Intl.NumberFormat().format(m9)
        document.getElementById("input9").value = '%' + m10;

    }

    var boton_de_limpiar = document.getElementById("clean");
    boton_de_limpiar.addEventListener("click", lim);


    function lim() {

        document.getElementById("input1").value = '';
        document.getElementById("input2").value = '';
        document.getElementById("input3").value = '';
        document.getElementById("input4").value = '';
        document.getElementById("input5").value = '';
        document.getElementById("input6").value = '';
        document.getElementById("input7").value = '';
        document.getElementById("input8").value = '';
        document.getElementById("input9").value = '';
    }

</script>



</html>